Source: hwsetup-ng
Section: utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.6.2

Package: hwsetup-ng
Architecture: all
Depends: gawk, perl, discover1-data
Provides: hwsetup-kanotix
Replaces: hwsetup-kanotix
Suggests: hwdata-kanotix (>= 0.169)
Conflicts: hwsetup-kanotix
Description: udev based hwsetup replacement
 Bash emulation of the former hwsetup for combined usage with udev.
