Source: hwsetup-ng
Section: utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: hwsetup-ng
Architecture: all
Depends: gawk, perl, discover1-data
Description: udev based hwsetup replacement
 Bash/ perl emulation of the former hwsetup for combined usage with udev.
